// app global css in SCSS form

.q-notifications__list {
  font-family: 'Sahel', sans-serifک
}

.q-popup-edit {
  font-family: 'Sahel', sans-serifک
}

.q-date {
  font-family: 'Sahel', sans-serifک
}

.q-item {
  font-family: 'Sahel', sans-serifک
}

.q-dialog__inner {
  font-family: 'Sahel', sans-serifک
}

.persian-font {
  font-family: 'Sahel', sans-serifک
}

@import url('https://v1.fontapi.ir/css/Sahel');
